{% capture content %}
  <section class="summary margin-2">
    <p>Why You Should Vote is a show about helping people learn why and how to vote. We want every single citizen to exercise their right to vote, and we want them to walk into the voting booth informed about both the candidates they're voting for and the system that they're participating in. Why You Should Vote is one part civics lesson and one part how-to guide: the missing manual for voters.</p>
    <p>The hosts, Eli and Sonia, are not historians, political scientists, or community organizers. We're just a couple of nerdy citizens who had to learn this complicated system for ourselves and have spent time explaining it to others in the hopes that they go vote. And now we're explaining it to you.</p>
  </section>
{% endcapture %}

{% include box.html
  id: 'about',
  topClass: 'margin-top-4',
  headerBgClass: 'bg-secondary',
  headerTextClass: 'text-base-lightest',
  headerText: 'About the Show',
  content: content
%}
