<aside id="audio-player" class="position-sticky pin-bottom display-none flex-wrap mobile-lg:flex-no-wrap flex-align-center flex-justify bg-accent-warm-light shadow-2 tablet:margin-x-4 border-secondary radius-top-md">
  <div id="audio-title" class="flex-auto margin-2 order-1">How Other Countries Vote</div>
  <div class="flex-1 margin-y-1 minw-card-lg order-3 mobile-lg:order-2">
    <audio id="audio-element" class="width-full" controls="controls"></audio>
  </div>
  <div id="audio-close" class="flex-auto margin-2 font-body-lg order-2 mobile-lg:order-3"><i class="fas fa-times-circle"></i></div>
</aside>
