{% capture headerBgClass %}{% unless ep.unreleased %}bg-primary{% else %}bg-base-light{% endunless %}{% endcapture %}

{% capture headerTextClass %}{% unless ep.unreleased %}text-base-lightest{% else %}text-base-dark{% endunless %}{% endcapture %}

{% capture headerText %}{{ ep.number }}. {{ ep.title }}{% endcapture %}

{% capture headerRightContent %}{% if ep.audioUrl %}
  <div class="play-button"  data-url="{{ ep.audioUrl }}">
    <i class="play-button-icon fas fa-play-circle"></i><span class="play-button-text margin-left-05">Listen ({{ ep.duration }})</span>
  </div>{% endif %}
{% endcapture %}

{% capture content %}
  {% unless ep.unreleased %}
  <section class="summary margin-2">{{ ep.summary | markdownify }}</section>
  {% if ep.notes %}<section class="notes margin-2">
    <h4>Notes</h4>
    {{ ep.notes | markdownify }}
  </section>{% endif %}
  {% if ep.links %}<section class="links margin-2">
    <h4>Links & Resources</h4>
    {{ ep.links | markdownify }}
  </section>{% endif %}
  <section class="homework margin-2">
    <h4>Homework</h4>
    <p>Your homework this week is to <strong>{{ ep.homework }}</strong>{{ ep.homeworkPunct | default: '.' }}</p>
    {{ ep.expandedHomework | markdownify }}
  </section>
  <div class="expand margin-2"><button class="usa-button usa-button--unstyled"><i class="fa fa-chevron-double-down"></i> Read more</button></div>
  <div class="collapse margin-2"><button class="usa-button usa-button--unstyled"><i class="fa fa-chevron-double-up"></i> Collapse</button></div>
  {% endunless %}
{% endcapture %}

{% include box.html
  topClass: 'episode margin-bottom-2',
  headerBgClass: headerBgClass,
  headerTextClass: headerTextClass,
  headerText: headerText,
  headerRightContent: headerRightContent,
  content: content
%}
