html {
  background-color: var(--bg-base-darker, #3d4551);
  background-image: url(/assets/images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
}

a {
  color: var(--text-primary, #005ea2);
}

body {
  background-color: transparent;
}

article {
  background-color: white;
}

.play-button {
  cursor: pointer;
}

article > .notes,
article > .links,
article > .homework,
article > .collapse {
  display: none;
}

article.expanded > .notes,
article.expanded > .links,
article.expanded > .homework,
article.expanded > .collapse {
  display: block;
}
article.expanded > .expand {
  display: none;
}

#tagline-and-subscribe {
  align-self: end;
  text-align: right;
  color: white;
}

#license {
  color: white;
  text-align: center;
}

#license a {
  color: var(--text-accent-cool-dark, #00bde3);
}

#go-vote {
  color: white;
  text-align: center;
}

#subscribe-shroud {
  background-color: var(--bg-base-darkest-but-80-opacity, rgba(27, 27, 27, 0.8));
}

#subscribe-close {
  cursor: pointer;
}
